.Main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif;
}

.MainHeader {
    position: fixed;
    backdrop-filter: blur(4px);
    top: 0;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.MainHeaderNav {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: -24px;
}

.MainHeaderLogo {
    width: 112px;
    height: 27px;
    margin-right: 16px;
    background-image: url("/src/img/Main/logo.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.MainHeaderButtons {
    font-family: 'Montserrat', sans-serif;
    padding: 4px 8px;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    margin-left: 8px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color .2s;
}

.MainHeaderButtons:hover {
    background-color: rgba(255, 255, 255, .2);
}

.MainHeaderLangContainer {
    position: fixed;
    right: 16px;
    z-index: 11;
}

.MainHeaderLang {
    padding: 4px 8px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color .2s;
}

.MainHeaderLang:hover {
    background-color: rgba(255, 255, 255, .2);
}

.MainTopImage {
    position: sticky;
    top: calc(-60vh + 50px);
    width: 100%;
    height: 60vh;
    background-image: url("/src/img/Main/topImage4.jpg");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MainTopImageInside {
    width: 800px;
}

.MainTopImageInsideText {
    margin: 0;
    border-radius: 12px;
    padding: 16px;
    backdrop-filter: blur(4px);
    background-color: rgba(255, 255, 255, .2);
    color: #fff;
    font-size: 48px;
    line-height: 48px;
    font-weight: 900;
}

.MainTopImageInsideButtonsContainer {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.MainTopImageInsideButtons {
    background-color: #fff;
    padding: 8px 16px;
    color: #000;
    text-decoration: none;
    font-weight: 600;
    border-radius: 6px;
    margin-left: 16px;
    transition: background-color .2s;
}

.MainTopImageInsideButtons:hover {
    background-color: rgba(255, 255, 255, .85);
}

.MainContent {
    width: 1080px;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.MainContentFeatures {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.MainContentFeatureItem {
    width: calc((100% - 48px) / 3);
}

.MainContentFeatureItemTitle {
    padding: 0;
    margin: 0;
    font-weight: 900;
    font-size: 24px;
    margin-left: 4px;
}

.MainContentFeatureItemImg {
    padding: 16px;
    box-sizing: border-box;
    margin-top: 8px;
    width: 100%;
    height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.MainContentFeatureItemImg.Zero {
    background-image: url("/src/img/Features/feature0.jpg");
}

.MainContentFeatureItemImg.One {
    background-image: url("/src/img/Features/feature1.jpg");
}

.MainContentFeatureItemImg.Two {
    background-image: url("/src/img/Features/feature2.jpg");
}

.MainContentFeatureItemText {
    padding: 0;
    margin: 0;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
}

.MainServices {
    width: 100%;
    border-radius: 8px;
    padding: 16px 0;
    /*border: 2px solid #253746;*/
    box-sizing: border-box;
}

.MainServicesLabel {
    padding: 0;
    margin: 0;
    font-weight: 900;
    font-size: 32px;
    margin-left: 4px;
    margin-top: 32px;
    margin-bottom: 8px;
}

.MainServicesContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.MainServicesLeft {
    width: calc((100% - 48px) / 3);
    box-sizing: border-box;
    /*border-right: 2px solid #253746;*/
    padding: 8px 16px 8px 8px;
}

.MainServicesLeftServiceName {
    padding: 0;
    font-weight: 700;
    font-size: 16px;
    margin: 8px 0 0 16px;
    cursor: pointer;
}

.MainServicesLeftServiceName:hover {
    text-decoration: underline;
}

.MainServicesRight {
    width: calc(100% - ((100% - 48px) / 3));
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.CubeContainer {
    perspective: 1500px;
    transform-style: preserve-3d;
    transition: transform .1s;
}

.cube {
    position: relative;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    transform: rotateX(15deg) rotateY(15deg);
    transition: transform .45s;
}

.side {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
}

.side1 {
    transform: translateZ(150px);
    background-image: url("/src/img/Features/feature1.jpg");
}

.side2 {
    transform: translateZ(-150px);
    background-image: url("/src/img/Features/feature0.jpg");
}

.side3 {
    transform: rotateY(90deg) translateZ(150px);
    background-image: url("/src/img/Features/feature2.jpg");
}

.side4 {
    transform: rotateY(90deg) translateZ(-150px);
    background-image: url("/src/img/Features/feature2.jpg");
}

.side5 {
    transform: rotateX(90deg) translateZ(150px);
    background-image: url("/src/img/Features/feature1.jpg");
}

.side6 {
    transform: rotateX(90deg) translateZ(-150px) rotateZ(180deg);
    background-image: url("/src/img/Features/feature0.jpg");
}

.space {
    height: 10000px;
}